@charset "utf-8";
@import 'variables';

html {
  overflow-y: hidden !important;
}

body {
  color: $theme-ash-grey !important;
}

#root {
  background-color: $theme-isabelline;
  min-height: 100vh;
}

// Importing all of Bulma
@import '../../node_modules/bulma/bulma.sass';
