@charset "utf-8";
@import 'variables';

.App {
  background-color: $theme-isabelline;
  min-height: 100vh;
}

.Header {
  color: white;
  text-align: center;
  padding-top: 5vh;
}

// Importing all of Bulma
@import '../../node_modules/bulma/bulma.sass';
