@import 'styles/variables.scss';

.message-card {
  margin: 10px;

  .container {
    background: $theme-xanadu;
    border-radius: 20px;
    display: inline-block;
    padding: 6px;

    .level:not(:last-child) {
      margin-bottom: 0;
    }
  }

  h1, h2, h6 {
    margin-left: 6px;
  }

  h2 {
    color: $theme-isabelline;
    margin-right: 6px;
  }
}
