@import '../../styles/variables';

.card {
  border-radius: 23px;
  background: $theme-xanadu;
  width: auto;
  margin: 10vh 25vw 5vh;
  padding: 1vh 1vh 1vh;
}

#layered-background {
  border-radius: 20px;
  background: $theme-charleston-green;
  padding: 5vh 5vw 5vh;
}
