@import 'styles/variables.scss';

html,
body,
#root {
  height: 100%;
  margin: 0;
  overflow-y: hidden;
}

.chat-page {
  display: flex;
  flex-flow: column;
  height: 100%;

  .hero {
    flex: 0 1 auto;
  }

  .chat-container {
    margin: 2vh 10vw;
    flex: 1 0 auto;
    border-radius: 20px;
    overflow-y: auto;
    height: 80vh;
    background: $theme-charleston-green;
    display: flex;
    flex-direction: column;
    align-items: stretch;

    .messages {
      flex-grow: 1;
    }

    input {
      border-bottom-left-radius: 20px;
      flex-shrink: 0;
    }
  }
}
