@import 'styles/variables.scss';

.modal {
  .input, .button {
    margin-bottom: 1vh;
  }
  .error {
    color: red;
  }
  .input-file {
    height: 3rem;
  }
  .preview-container {
    background: $theme-deep-space-sparkle;
    color: $theme-isabelline;
    padding: 4px;
    margin-top: 2vh;
    border-radius: 20px;

    img {
      border-radius: 18px;
      height: 100%;
    }
  }
}
